- question_name = custom_field_value.question.name(I18n.locale)
%b= "Interest"
= custom_field_value.display_value
= t(".%")
= render partial: "layouts/info_text", locals: { text: t("listings.form.description.investor_info") }
