.price-container
    = form.label :interest, "Interest (%)"
    = render partial: "listings/form/price_currency", locals: {form: form}
    = form.text_field :interest, :class => "price-field", :maxlength => "3", :placeholder => "0"
    = t('common.interest')
