.price-container
    = form.label :interest, "Interest (%)"
    = render partial: "layouts/info_text", locals: { text: t("common.interest") }
    = form.text_field :interest, :class => "price-field", :maxlength => "3", :placeholder => "0"
